#nav-img {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-right: 10px;
  background-color: none;
}
nav {
  margin: 20px;
  padding: 0px 20px;
  background: rgba(29,33,47,255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.24);
  width: 105%;
  height: 700px;

}

#logo-img {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-right: 10px;
  background-color: none;
}

#logo-img {
  margin-top: 40px;
  margin-left: 50px;
  background-image: none;
}

h1 {
  color: aliceblue;
  margin-top: 150px;
  margin-left: 90px;
}

.headerText {
  color: aliceblue;
  margin-top: -20px;
  margin-left: 90px;
  font-size: 16px;
}

.btn {
  background-color: aliceblue;
  margin-top: 50px;
  margin-left: 90px;
  height: 50px;
  width: 120px;
  font-size: 17px;
  color: rgba(29,33,47,255);
  border-radius: 5px;
  padding: 8px;
}

.text {
  color: aliceblue;
}


#gallery {
  display: flex;
  flex-direction: row;
  margin-top: 20%;
}

#img1 {
  margin-left: 100px;
}

#img2 {
  margin-left: 100px;
}
#img3 {
  margin-left: 100px;
}
#img4 {
  margin-left: 100px;
}


.textTitle {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 100px;
  font-size: 25px;
  font-weight: 500;
}


#text2 {
  margin-left: 11%;
}
#text3 {
  margin-left: 10%;
}
#text4 {
  margin-left: 11%;
}

.textBody {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-left: -1000px;
  font-size: 15px;
  font-weight: 450;
}

p {
  display: flex;
  flex-direction: row;
}

#text5 {
  margin-left: 100px;
}
#text6 {
  margin-left: 150px;
}
#text7 {
  margin-left: 160px;
}
#text8 {
  margin-left: 120px;
}
